body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

.card {
  transition: all 0.3s ease;
  border: none;
}

.card:hover {
  transform: translateY(-8px);
}

.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("src/image/Hero trav.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 20px;
}

.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("src/image/Hero trav.jpg");

  background-size: cover;
  background-position: center;

  min-height: 75vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

footer {
  margin-top: 40px;
}